*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* Navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
   font-family: century;
   font-size: 1.1rem;
   font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

/* Home Section */
#HOME{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;
}

#HOME::before{
    content: "";
    top: 0;
    right: 0;
    background: url('download.png') no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}
.main{
    display: flex;
    flex-direction: column;
    border: 0px solid white;
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}
.headings{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}
button{
    padding: 10px 35px;
    background-color: transparent;
    border: 1px currentColor white;
    color: white;
    outline: none;
    transition: .6s ease;
}
button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px blue, 0 0 10px blue, 0 0 15px blue;
    font-weight: bold;
}

/* About Section */
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}
#pic{
    display: flex;
}
#pic img{
    width: 500px;
    height: 500px;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}
#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Artworks Section */ 
#artworks{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    align-items: center;
    padding: 20px;

}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
.gallery img{
    width: 360px;
    height: 240px; 
    margin: 10px;
}