/* Navbar */
.navbar ul{
    flex-wrap: wrap;
    justify-content: center;
}




/* Headings */
.headings{
    font-size: 2.5rem;
}



/* About */
#pic{
    flex-direction: column;
    align-items: center;
}
#pic img{
    width: 500px;
    height: 500px;
}
#intro h2{
    text-align: center;
    padding: 10px;
}